@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

.customNodeBody {
  width: 40px;
  height: 40px;
  border: 3px solid #3f084f;
  color: #fff;
  position: relative;
  /* background: #3f084f; */
  overflow: hidden;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.customNode:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  height: 20px;
  width: 20px;
  transform: translate(-50%, -70%) rotate(45deg);
  background: #4e1460;
  z-index: 1000;
  line-height: 1;
  border-radius: 100%;
  color: #fff;
  font-size: 9px;
  /* border: 2px solid #222138; */
}

div.customHandle {
  width: 100%;
  height: 100%;
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  transform: none;
  border: none;
  opacity: 0;
}

.aButton {
  font-size: 32px;
  padding: 2px;
  background: #d590f5;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.floating-box {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 10px;
  z-index: 1000;
}

input {
  width: 100px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.aButton {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #be60da;
  color: white;
  cursor: pointer;
}

.aButton:hover {
  background-color: #4e1460;
}
